<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>教师页面</h2>
    <table border="1">
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>课程</th>
            <th>学生</th>
        </tr>
        {% for item in res %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.project }}</td>
                <td>
                    {% for stu in item.student_id.all %}
                        {{ stu.name }}、
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>